app/
__pycache__/
*.sqlite3

.DS_Store

/Funcionalidades/todosLotoFiltrados.csv
/Funcionalidades/todosjogosloto.csv

/data/loterias/diadesorte/todasCombsFiltradas.csv
/data/loterias/lotofacil/todasCombsFiltradas.csv
/data/loterias/lotofacil/todosjogosloto.csv
/Testes
/allfiltered.csv
